@model IEnumerable<FirstMVCFiveProject.Models.Student>

@{
    ViewBag.Title = "Students";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Students</h2>
    <button id="btn-create" class="btn btn-primary rounded">Create New</button>
</div>

<div id="spa-content">
    @Html.Partial("_List", Model)
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function($){
            function loadList(){
                $.get('@Url.Action("ListPartial")', function(html){
                    $('#spa-content').html(html);
                });
            }

            function loadCreate(){
                $.get('@Url.Action("CreatePartial")', function(html){
                    $('#spa-content').html(html);
                    bindForms();
                });
            }

            function loadDetails(id){
                $.get('@Url.Action("DetailsPartial")', { id: id }, function(html){
                    $('#spa-content').html(html);
                });
            }

            function loadEdit(id){
                $.get('@Url.Action("EditPartial")', { id: id }, function(html){
                    $('#spa-content').html(html);
                    bindForms();
                });
            }

            function loadDelete(id){
                $.get('@Url.Action("DeletePartial")', { id: id }, function(html){
                    $('#spa-content').html(html);
                    bindForms();
                });
            }

            function bindForms(){
                // Create form submit via AJAX
                var $create = $('#create-form');
                if($create.length){
                    $create.off('submit').on('submit', function(e){
                        e.preventDefault();
                        var $form = $(this);
                        $.post($form.attr('action'), $form.serialize(), function(res){
                            // if server returned JSON { success: true }
                            if(res && typeof res === 'object' && res.success){
                                loadList();
                            } else {
                                // replace with returned html (validation errors)
                                $('#spa-content').html(res);
                                bindForms();
                            }
                        });
                    });
                }

                var $edit = $('#edit-form');
                if($edit.length){
                    $edit.off('submit').on('submit', function(e){
                        e.preventDefault();
                        var $form = $(this);
                        $.post($form.attr('action'), $form.serialize(), function(res){
                            if(res && typeof res === 'object' && res.success){
                                loadList();
                            } else {
                                $('#spa-content').html(res);
                                bindForms();
                            }
                        });
                    });
                }

                var $delete = $('#delete-form');
                if($delete.length){
                    $delete.off('submit').on('submit', function(e){
                        e.preventDefault();
                        var $form = $(this);
                        $.post($form.attr('action'), $form.serialize(), function(res){
                            if(res && typeof res === 'object' && res.success){
                                loadList();
                            } else {
                                $('#spa-content').html(res);
                                bindForms();
                            }
                        });
                    });
                }

                // Back buttons
                $('.js-back').off('click').on('click', function(){ loadList(); });
            }

            // delegate actions in list
            $('#spa-content').on('click', '.js-details', function(){
                var id = $(this).data('id');
                loadDetails(id);
            });

            $('#spa-content').on('click', '.js-edit', function(){
                var id = $(this).data('id');
                loadEdit(id);
            });

            $('#spa-content').on('click', '.js-delete', function(){
                var id = $(this).data('id');
                loadDelete(id);
            });

            // create button
            $('#btn-create').on('click', function(){ loadCreate(); });

            bindForms();
        })(jQuery);
    </script>
}
